* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

 *,
 *::before,
 *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
 
 ul, ol {
	list-style: none;
 }
 
 .container {
	max-width: 1400px;  /* Максимальная ширина контента */
    margin: 0 auto;      /* Центрируем по горизонтали */
    padding: 20px;
    display: flex;
    flex-direction: column;
 }

 /* Смещаем основной контент вправо, чтобы учесть сайдбар (250px) */
@media (min-width: 1401px) {
	.container {
		 margin-left: 250px;  /* Ширина сайдбара */
	}
}

/* Для экранов до 1400px — контент на всю ширину */
@media (max-width: 1400px) {
	.container {
		 margin-left: 0;
		 padding: 20px;
	}
}
 
