<footer class="site-footer">
	<div class="footer_container container">
		<div class="footer_row-1">
			<div class="footer_left">
				<div class="left_block-logo">
					<a href="#" data-global-link>
						<img src="assets/img/logo.svg" alt="logo">
					</a>
					<a href="#" data-global-link class="footer_logo-text">
						Партнёрская программа
					</a>
				</div>
				<div class="left_icon">
					<a href="#" data-global-link> 
						<img src="assets/img/footer/footer_1.png" alt="footer">
					</a>
				</div>
			</div>
			<div class="footer_right">
				<div class="right_menu1 footer_menu">
					<a href="bonus-terms-and-conditions.html">Правила и условия по бездепозитным бонусам</a>
					<a href="aml-ctf-and-sanctions-compliance-policy.html">AML/CTF AND SANCTIONS COMPLIANCE POLICY</a>
					<a href="responsible-game.html">Политика ответственной игры</a>
					<a href="terms-and-conditions.html">Условия и положения</a>
				</div>
				<div class="right_menu1 footer_menu">
					<a href="withdrawal-and-refund-policy.html">Политика вывода и возврата</a>
					<a href="cookie-policy.html">Политика использования файлов cookie</a>
					<a href="underage-gaming-policy.html">Политика в отношении игр несовершеннолетних</a>
					<a href="privacy-policy.html">Уведомление о конфиденциальности</a>
				</div>
				<div class="right_menu1 footer_menu">
					<a href="fair-play.html">Честная игра</a>
					<a href="games-rules.html">Правила игр</a>
					<a href="#" data-global-link>Связь с нами</a>
				</div>
			</div>
		</div>
		<div class="footer_row-2">
			<p>
				arkada.casino is owned and operated by Creative Active Technology N.V, a company established under the laws of Curacao, company number: 165799, with its registered address at Abraham de Veerstraat 1, Curaçao. Creative Active Technology N.V. holds a sublicense with Gaming Services Provider N.V. under License no 365/JAZ Sub-License GLH-OCCHKTWO702062024 and has valid Certificate of Operation from GCB (application OGL/2024/751/0208).
			</p>
			<p>
				© Arkada Casino. Все права защищены.
			</p>
		</div>
	</div>
</footer> 



