<footer class="site-footer">
	<div class="footer_container container">
		<div class="footer_row-1">
			<div class="footer_left">
				<div class="left_block-logo">
					<a href="#" data-global-link>
						<img src="/assets/img/logo.svg" alt="logo">
					</a>
					<a href="#" data-global-link class="footer_logo-text">
						Партнёрская программа
					</a>
				</div>
				<div class="left_icon">
					<a href="#" data-global-link> 
						<img src="/assets/img/footer/footer_1.png" alt="footer">
					</a>
				</div>
			</div>
			<div class="footer_right">
				<div class="right_menu1 footer_menu">
					<a href="bonus-terms-and-conditions.html">Правила и условия по бездепозитным бонусам</a>
					<a href="aml-ctf-and-sanctions-compliance-policy.html">AML/CTF AND SANCTIONS COMPLIANCE POLICY</a>
					<a href="responsible-game.html">Политика ответственной игры</a>
					<a href="terms-and-conditions.html">Условия и положения</a>
				</div>
				<div class="right_menu1 footer_menu">
					<a href="withdrawal-and-refund-policy.html">Политика вывода и возврата</a>
					<a href="cookie-policy.html">Политика использования файлов cookie</a>
					<a href="underage-gaming-policy.html">Политика в отношении игр несовершеннолетних</a>
					<a href="privacy-policy.html">Уведомление о конфиденциальности</a>
				</div>
				<div class="right_menu1 footer_menu">
					<a href="fair-play.html">Честная игра</a>
					<a href="games-rules.html">Правила игр</a>
					<a href="feedback.html">Связь с нами</a>
				</div>
			</div>
		</div>
		<div class="footer_row-2">
			<p>
				arkada.casino is owned and operated by Creative Active Technology N.V, a company established under the laws of Curacao, company number: 165799, with its registered address at Abraham de Veerstraat 1, Curaçao. Creative Active Technology N.V. holds a sublicense with Gaming Services Provider N.V. under License no 365/JAZ Sub-License GLH-OCCHKTWO702062024 and has valid Certificate of Operation from GCB (application OGL/2024/751/0208).
			</p>
			<p>
				© Arkada Casino. Все права защищены.
			</p>
		</div>
	</div>
</footer> 

<!-- chat -->
<div class="chat-icon">
	<img src="/assets/img/footer/chat.png" alt="Чат" id="chat-toggle">
</div>

<div class="chat-window" id="chat-window">
	<div class="chat-header">
		 <div class="chat-header-title">
			  <img src="/assets/img/footer/chat.png" alt="Профиль" class="profile-icon">
			  <div>
					<h3>Arkada AI</h3>
					<span>Product Expert</span>
			  </div>
		 </div>
		 <button class="close-btn" id="close-chat">&times;</button>
	</div>
	<div class="chat-body">
		 <p>Приветствуем в нашем сайте.<br>Прежде чем начать чат, заполните форму ниже.</p>
		 <form class="chat-form">
			  <label>Имя: *</label>
			  <input type="text" placeholder="Ваше имя" required>
			  <label>E-mail: *</label>
			  <input type="email" placeholder="Ваш e-mail" required>
			  <button type="submit">Начать чат</button>
		 </form>
	</div>
</div>


