<header class="site-header">
	<div class="header__container container">
		<div class="header__container-left">
			<div class="header__container-logo">
				<a href="#" data-global-link><img src="/assets/img/logo.svg" alt="logo"></a>
			</div>
			<div class="header__container-search">
				<a href="#" data-global-link>
					<i class="fa-solid fa-search"></i>
				</a>
			</div>
		</div>
		<div class="header__container-right">
			<div class="header_right-btn">
				<a href="#" class="button button_1" data-global-link>Вход</a>
				<a href="#" class="button" data-global-link>Регистрация</a>
			</div>


			
		</div>
	</div>

</header>

