<div class="sidebar" id="sidebar">
	<div class="sidebar-logo">
		 <a href="#" data-global-link>
			  <img src="assets/img/logosm.svg" alt="Logo" class="logo">
		 </a>
	</div>
	<ul class="sidebar-menu">
		<div class="sidebar_menu">
			<div class="sidebar_menu-link">
				<i class="fa-solid fa-house" style="color: #4fcfff;"></i><a href="#" data-global-link>Лояльность</a>
			</div>
			<div class="sidebar_menu-link">
				<i class="fa-solid fa-crown" style="color: #ffbb00;"></i><a href="#" data-global-link>VIP-клуб</a>
			</div>
			<div class="sidebar_menu-link">
				<i class="fa-solid fa-money-bill-trend-up" style="color: #d400ff ;"></i><a href="#" data-global-link>Бонусы</a>
			</div>
			<div class="sidebar_menu-link">
				<i class="fa-solid fa-basket-shopping" style="color: #ec5a00 ;"></i><a href="#" data-global-link>Магазин бонусов</a>
			</div>
		</div>
		<div class="sidebar_menu">
			<div class="sidebar_menu-link">
				<i class="fa-solid fa-house" style="color: #4fcfff;"></i><a href="/index.html">Главная</a>
			</div>
			<div class="sidebar_menu-link">
				<i class="fa-solid fa-money-bill-trend-up" style="color: #4fcfff;"></i><a href="/bonus.html">Бонус</a>
			</div>
			<div class="sidebar_menu-link">
				<i class="fa-solid fa-link" style="color: #ffbb00;"></i><a href="/zerkalo.html">Зеркало</a>
			</div>
			<div class="sidebar_menu-link">
				<i class="fa-solid fa-money-bill-trend-up" style="color: #d400ff ;"></i><a href="/register.html">Регистрация</a>
			</div>
		</div>
		<div class="sidebar_menu sidebar_menu-2">
			<div class="sidebar_menu-link">
				<i class="fa-solid fa-heart-pulse" style="color: #4fcfff;"></i><a href="#" data-global-link>День Святого Валентина</a>
			</div>
		</div>
		<div class="sidebar_menu">
			<div class="sidebar_menu-link">
				<i class="fa-solid fa-bitcoin-sign" style="color: #4fcfff;"></i><a href="#" data-global-link>Криптогайды</a>
			</div>
		</div>
		<div class="sidebar_menu">
			<div class="sidebar_menu-link">
				<i class="fa-solid fa-phone-volume" style="color: #4fcfff;"></i><a href="#" data-global-link>Live чат</a>
			</div>
			<div class="sidebar_menu-link">
				<i class="fa-brands fa-telegram" style="color: #4fcfff;"></i><a href="#" data-global-link>Подписаться</a>
			</div>
		</div>
	</ul>
</div>

<!-- Кнопка-бургер -->
<div class="burger" id="burger">
	☰
</div>
