<!-- Популярные -->
<div class="slider-container">
	<div class="slider-container_title">🔥 Популярные</div>
    <!-- <div class="slider-header">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div> -->

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/popul/1.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/popul/2.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/popul/3.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/popul/4.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/popul/5.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/popul/6.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/popul/7.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
		</div>
</div>

<!-- Новые игры -->
<div class="slider-container">
	<div class="slider-container_title">Новые игры</div>
    <!-- <div class="slider-header">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div> -->

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/new/1.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/new/2.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/new/3.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/new/4.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/new/5.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/new/6.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/new/7.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
		</div>
   </div>
</div>


<!-- Live -->
<div class="slider-container">
	<div class="slider-container_title">Новые игры</div>
    <!-- <div class="slider-header">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div> -->

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/live/1.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/live/2.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/live/3.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/live/4.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/live/5.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/live/6.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
			<!-- слайд -->
			<div class="swiper-slide">
				<div class="slide-content">
					 <div class="slide-image">
						  <img src="assets/img/slider/live/7.webp" alt="slider">
						  <div class="overlay">
								<a href="#" data-global-link class="btn">Игать</a>
						  </div>
					 </div>
					 <!-- <p class="slide-content_title">Mental</p>
					 <p>Nolimit City</p> -->
				</div>
    		</div>
		</div>
   </div>
</div>



