<div class="swiper-container">
	<div class="slider-header">
		<p>🔥 Популярные</p>
		<div class="swiper-navigation">
			 <div class="swiper-button-prev"></div>
			 <div class="swiper-button-next"></div>
		</div>
  </div>
	<div class="swiper-wrapper">
		 <div class="swiper-slide" data-global-link style="background-image: url('/assets/img/slider1.jpg');">
			  <div class="slide-overlay">
					<a class="slide-button" data-global-link>Играть</a>
			  </div>
			  <div class="slide-text">
					<p>Le Bandit</p>
					<p>HacksawGaming</p>
			  </div>
		 </div>
		 <div class="swiper-slide" data-global-link style="background-image: url('/assets/img/slider1.jpg');">
			<div class="slide-overlay">
				 <a class="slide-button" data-global-link>Играть</a>
			</div>
			<div class="slide-text">
				 <p>Le Bandit</p>
				 <p>HacksawGaming</p>
			</div>
	  </div>
	  <div class="swiper-slide" data-global-link style="background-image: url('/assets/img/slider1.jpg');">
		<div class="slide-overlay">
			 <a class="slide-button" data-global-link>Играть</a>
		</div>
		<div class="slide-text">
			 <p>Le Bandit</p>
			 <p>HacksawGaming</p>
		</div>
  </div>
  <div class="swiper-slide" data-global-link style="background-image: url('/assets/img/slider1.jpg');">
	<div class="slide-overlay">
		 <a class="slide-button" data-global-link>Играть</a>
	</div>
	<div class="slide-text">
		 <p>Le Bandit</p>
		 <p>HacksawGaming</p>
	</div>
</div>
<div class="swiper-slide" data-global-link style="background-image: url('/assets/img/slider1.jpg');">
	<div class="slide-overlay">
		 <a class="slide-button" data-global-link>Играть</a>
	</div>
	<div class="slide-text">
		 <p>Le Bandit</p>
		 <p>HacksawGaming</p>
	</div>
</div>
<div class="swiper-slide" data-global-link style="background-image: url('/assets/img/slider1.jpg');">
	<div class="slide-overlay">
		 <a class="slide-button" data-global-link>Играть</a>
	</div>
	<div class="slide-text">
		 <p>Le Bandit</p>
		 <p>HacksawGaming</p>
	</div>
</div>
	</div>

</div>
