<div class="swiper-container slider-popular">
	<div class="slider-header">
		 <p>🔥 Популярные</p>
		 <div class="swiper-navigation">
			  <div class="swiper-button-prev"></div>
			  <div class="swiper-button-next"></div>
		 </div>
	</div>

	<div class="swiper-wrapper">
		 <!-- Первый ряд -->
		 <div class="swiper-slide" style="background-image: url('/assets/img/slider1.jpg');">
			  <div class="slide-overlay"><a class="slide-button" href="#">Играть</a></div>
			  <div class="slide-text"><p>Game 1</p><p>Provider</p></div>
		 </div>
		 <div class="swiper-slide" style="background-image: url('/assets/img/slider2.jpg');">
			  <div class="slide-overlay"><a class="slide-button" href="#">Играть</a></div>
			  <div class="slide-text"><p>Game 2</p><p>Provider</p></div>
		 </div>
		 <div class="swiper-slide" style="background-image: url('/assets/img/slider3.jpg');">
			  <div class="slide-overlay"><a class="slide-button" href="#">Играть</a></div>
			  <div class="slide-text"><p>Game 3</p><p>Provider</p></div>
		 </div>
		 <div class="swiper-slide" style="background-image: url('/assets/img/slider4.jpg');">
			  <div class="slide-overlay"><a class="slide-button" href="#">Играть</a></div>
			  <div class="slide-text"><p>Game 4</p><p>Provider</p></div>
		 </div>
		 
		 <!-- Второй ряд -->
		 <div class="swiper-slide" style="background-image: url('/assets/img/slider5.jpg');">
			  <div class="slide-overlay"><a class="slide-button" href="#">Играть</a></div>
			  <div class="slide-text"><p>Game 5</p><p>Provider</p></div>
		 </div>
		 <div class="swiper-slide" style="background-image: url('/assets/img/slider6.jpg');">
			  <div class="slide-overlay"><a class="slide-button" href="#">Играть</a></div>
			  <div class="slide-text"><p>Game 6</p><p>Provider</p></div>
		 </div>
		 <div class="swiper-slide" style="background-image: url('/assets/img/slider7.jpg');">
			  <div class="slide-overlay"><a class="slide-button" href="#">Играть</a></div>
			  <div class="slide-text"><p>Game 7</p><p>Provider</p></div>
		 </div>
		 <div class="swiper-slide" style="background-image: url('/assets/img/slider8.jpg');">
			  <div class="slide-overlay"><a class="slide-button" href="#">Играть</a></div>
			  <div class="slide-text"><p>Game 8</p><p>Provider</p></div>
		 </div>
	</div>

	<div class="swiper-pagination"></div>
</div>
